@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;

  background-color: #eee;
  padding: 2rem;
}

button {
  outline: 0;
  border: 1px solid rgb(146, 146, 146);
  border-radius: 0.25rem;
  padding: 0.5rem;
}
